body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

    /* background-color: rgb(245, 227, 230); */
}

.container {
    display: grid;
    grid-template-columns: 5% 30% 20% 30% 15%;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    border: 3px solid white;
    background-color: rgb(217, 238, 238);
}

.container__headers {
    background-color: rgb(229, 224, 230);
}

.container--item {
    text-align: center;
    font-size: 18px;
    border: 1px rgb(187, 174, 174);
    padding: 5px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 18px;
}

.blue {
    color: rgb(43, 67, 77);
}

.orange {
    color: rgb(148, 97, 1);
}

.pink {
    color: rgb(175, 18, 123);
}

.green {
    color: rgb(10, 70, 10);
}

.coral {
    color: rgb(179, 52, 6);
}

@media (max-width: 920px) {
    .container {
        width: 90%;
        grid-template-columns: 5% 40% 10% 30% 15%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 12px;
    }
}

@media (max-width: 760px) {
    .container {
        display: block;
        background-color: white;
    }

    .blue, .orange, .pink, .green, .coral {
        color: black;
    }

    .blue {
        background-color: rgb(209, 233, 243);
    }

    .orange {
        background-color: rgb(255, 251, 226);
    }

    .pink {
        background-color: rgb(238, 215, 219);
    }

    .green {
        background-color: rgb(185, 226, 185);
    }

    .coral {
        background-color: rgb(245, 215, 205);
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        padding: 0;
        font-size: 20px;
    }
}
